#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: content-box;

  display: grid;
  grid-template-rows: auto 1fr auto;

  border-radius: 16px;
  background: #242424;

  align-items: center;
}

.plotContainer {
  width: 100%;
  max-width: 97vw;
}
