:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    --font-scale: 1;  /* General text scaling */
    font-size: calc(16px * var(--font-scale));

    --color-dark-theme: rgb(14, 14, 14);
    --color-medium1-theme: rgb(34, 34, 34);
    --color-medium2-theme: rgb(41, 41, 41);
    --color-medium3-theme: rgb(60, 60, 60);
    --color-light-theme: rgb(243, 242, 242);

    --color-bg: rgba(10,10,10, 0.98);
    --color-page: rgb(10,10,10);

}

body {
    background: #242424;
    color: #e2e8f0;

    margin: 0;
    height: 100%;
    /* min-height: 100vh; */
    padding: 10px;
    box-sizing: border-box;

    font-family: 'Inter', system-ui, -apple-system, sans-serif;

    font-size: 1rem;
    line-height: 1.6;
}

